@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F5F8FD;
}
.text-cta{
    text-shadow: 4px 4px rgba(0, 0, 0, .2);
}

.box{
    box-shadow: 5px 5px rgba(22, 160, 133, .2);
}

.btn{
    box-shadow: 4px 4px rgba(22, 160, 133, .2);
}